<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서관리</title>
</head>

<body>
<head th:include="shared/libs.html"></head>
<script src="static/js/qrcodejs/qrcode.min.js"></script>
<div id="app">
    <top_menu ref="top_menu"></top_menu>
    <table style="position: relative; width: 1000px;
        left: 50%; transform: translate(-50%, 0);
        margin-top: 74px;">
        <tr>
            <td>
                <div class="shadow-2">
                    <div class="bg-white text-center" style="width: 100%;">
                        <p class="text-h5" style="margin-bottom: 0;">베스트 셀러</p>
                    </div>
                    <q-carousel animated v-model="slide" style="height: 520px;"
                                navigation infinite :autoplay="autoplay"
                                arrows transition-prev="slide-right" transition-next="slide-left"
                                @mouseenter="autoplay = false" @mouseleave="autoplay=true"
                                control-color="black">
                        <template v-for="row, idx in best_list">
                            <q-carousel-slide :name="row.index" class="text-center">
                                <q-img :src="row.image" style="border: 1px solid black; width: 250px;" fit="contain">
                                    <div class="absolute-bottom text-subtitle1 text-center">
                                        <div>{{row.name}}</div>
                                        <div>{{row.writer}} | {{row.publisher}}</div>
                                    </div>
                                </q-img>
                            </q-carousel-slide>
                        </template>

                    </q-carousel>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <q-expansion-item class="bg-white shadow-2" v-model="expanded" label="상세 검색">
                    <q-card>
                        <q-card-section>
                            <div>
                                <div class="q-gutter-sm">
                                    <q-radio v-model="search_type" val="none" label="선택안함"></q-radio>
                                    <q-radio v-model="search_type" val="name" label="도서명"></q-radio>
                                    <q-radio v-model="search_type" val="writer" label="저자"></q-radio>
                                    <q-radio v-model="search_type" val="category" label="도서분류"></q-radio>
                                    <q-radio v-model="search_type" val="publisher" label="출판사"></q-radio>
                                </div>
                            </div>
                        </q-card-section>
                    </q-card>
                </q-expansion-item>
            </td>
        </tr>

        <tr>
            <td style="width: 100%;">
                <q-card >
                    <q-card-section class="q-pa-md">
                        <div style="display: flex; width: 100%;">
                            <q-input outlined dense placeholder="검색할 값을 입력하세요." v-model="searchTitle"
                                     class="q-mr-sm" style="width: 100%;" @keyup.enter="filter_book_list">
                            </q-input>
                            <q-space></q-space>
                            <q-btn dense flat icon="search" @click="filter_book_list"></q-btn>
                        </div>
                    </q-card-section>
                    <q-separator></q-separator>
                    <q-card-section class="q-pa-md">
                        <q-table ref="book_list"
                                 class="my-sticky-header-table"
                                 :filter="filter"
                                 :rows="book_list" :columns="book_columns" virtual-scroll
                                 :rows-per-page-options="[0]" separator="vertical"
                                 no-data-label="데이터가 없습니다.">
                            <template v-slot:body="props">
                                <q-tr :props="props">
                                    <q-td auto-width>
                                        <q-btn size="sm" round dense flat
                                               @click="props.row.expand = !props.row.expand" :icon="props.row.expand ? 'expand_less' : 'expand_more'" >
                                        </q-btn>
                                    </q-td>
                                    <q-td>{{props.row.bookId}}</q-td>
                                    <q-td>{{props.row.name}}</q-td>
                                    <q-td>{{props.row.category}}</q-td>
                                    <q-td>{{props.row.writer}}</q-td>
                                    <q-td>{{props.row.publisher}}</q-td>
                                    <q-td>{{props.row.location}}</q-td>
                                    <q-td>
                                        <template v-if="props.row.status">
                                            <q-badge color="positive">
                                                가능
                                            </q-badge>
                                        </template>
                                        <template v-else>
                                            <q-badge color="negative">
                                                불가능
                                            </q-badge>
                                        </template>
                                    </q-td>

                                </q-tr>
                                <q-tr v-show="props.row.expand" :props="props">
                                    <q-td colspan="100%" style="border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3;">
                                        <div class="row">
                                            <div class="col">
                                                <q-img :src="props.row.image" style="border: 1px solid black; width: 250px;"></q-img>
                                            </div>
                                            <div class="col" style="max-width: 300px">
                                                <q-input v-model="props.row.description" filled type="textarea"/>
                                            </div>
                                        </div>
                                    </q-td>
                                </q-tr>
                            </template>
                        </q-table>
                    </q-card-section>
                </q-card>
            </td>
        </tr>
    </table>
</div>
</body>
</html>

<style>
</style>

<script>
     const app = Vue.createApp({
        data: function() {
            return {
                slide: 1,
                autoplay: true,
                expanded: false,
                search_type: 'none',

                searchTitle: '',

                best_list: [],
                book_list: [],
                book_columns: [
                    { name: '', label: '', field: '', align: 'left', headerStyle: 'width: 30px;'},
                    { name: 'index', label: '번호', field: 'index', align: 'left', sortable: true, headerStyle: 'width: 30px;'},
                    { name: 'name', label: '도서명', field: 'name', align: 'left', sortable: true },
                    { name: 'category', label: '카테고리', field: 'category', align: 'left', sortable: true },
                    { name: 'writer', label: '저자', field: 'writer', align: 'left', sortable: true },
                    { name: 'publisher', label: '출판사', field: 'publisher', align: 'left', sortable: true },
                    { name: 'location', label: '위치', field: 'location', align: 'left', sortable: true },
                    { name: 'status', label: '대여유무', field: 'status', align: 'left', sortable: true },
                ],
            }
        },
        methods: {
            filter_book_list: function() {
                var vm = this;
                console.log("vm.search_type:", vm.search_type);
                console.log("vm.searchTitle:", vm.searchTitle);
                axios.get('/api/search', {
                    params: {
                        type: vm.search_type,
                        value: vm.searchTitle,
                    }
                }).then(function(res) {
                    var data = res.data;
                });
            },
            load_book_list: function() {
                var vm = this;
                vm.best_list = [];
                vm.book_list = [];
                vm.$q.loading.show();
                axios.get('/api/book', {
                    params: {

                    }
                }).then(function(res) {
                    var data = res.data;
                    if(data.success == 1) {
                        var row = data.bookList;
                        for(var i=0; i<row.length; i++) {
                            row[i]["index"] = i+1;
                            row[i]["expand"] = false;
                            if(row[i].isBest == 1) {
                                vm.best_list.push(row[i]);
                            }
                        }
                        vm.book_list = row;
                    } else {
                        vm.$q.notify({
                            type: 'negative',
                            message: data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    }
                    vm.$q.loading.hide();
                });
            },
        },
        mounted: function() {
            var vm = this;
            vm.load_book_list();
        },
    });

</script>
<head th:include="shared/top_menu.html"></head>
<script>
    app.use(Quasar, {
        config: {
            loading: {}
        }
    });
    app.mount('#app');
</script>