<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
</head>

<body>
<head th:include="shared/libs.html"></head>

<div id="app">
    <top_menu ref="top_menu"></top_menu>
    <q-card>
        <q-card-section>
            <table style="width: 100%; margin-top: 74px;">
                <tr >
                    <td rowspan="2" style="width: 250px; vertical-align: top;">
                        <q-list bordered style="width: 250px;">
                            <template v-for="row in menu_list">
                                <q-item  clickable v-ripple @click="select_type(row)" :active="row.is_selected">
                                    <q-item-section>{{row.title}}</q-item-section>
                                </q-item>
                                <q-separator></q-separator>
                            </template>
                        </q-list>
                    </td>
                    <td class="q-pl-md">
                        <div style="width: 100%; display: flex;" v-if="type == 'recordList'">
                            <q-input filled dense v-model="start_date" style="width: 200px;">
                                <template v-slot:append>
                                    <q-icon name="event" class="cursor-pointer">
                                        <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                                            <q-date v-model="start_date" @update:model-value="changeDate"
                                                    mask="YYYY-MM-DD">
                                                <div class="row items-center justify-end">
                                                    <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
                                                </div>
                                            </q-date>
                                        </q-popup-proxy>
                                    </q-icon>
                                </template>
                            </q-input>
                            ~
                            <q-input filled dense v-model="end_date" style="width: 200px;">
                                <template v-slot:append>
                                    <q-icon name="event" class="cursor-pointer">
                                        <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                                            <q-date v-model="end_date" @update:model-value="changeDate"
                                                    mask="YYYY-MM-DD">
                                                <div class="row items-center justify-end">
                                                    <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
                                                </div>
                                            </q-date>
                                        </q-popup-proxy>
                                    </q-icon>
                                </template>
                            </q-input>

                            <q-radio v-model="standard_date" val="rentalDate" label="대여일 기준"
                                     @update:model-value="changeType"></q-radio>
                            <q-radio v-model="standard_date" val="returnDate" label="반납일 기준"
                                     @update:model-value="changeType"></q-radio>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top;" class="q-pl-md">
                        <template v-if="type == 'recordList'">
                            <q-table ref="record_list"
                                     class="my-sticky-header-table"
                                     :filter="filter"
                                     :rows="record_list" :columns="record_columns" virtual-scroll
                                     :rows-per-page-options="[0]" separator="vertical"
                                     no-data-label="데이터가 없습니다.">
                                <template v-slot:body="props">
                                    <q-tr :props="props">
                                        <q-td>{{props.row.recordId}}</q-td>
                                        <q-td>{{props.row.name}}</q-td>
                                        <q-td>{{props.row.rentalDate}}</q-td>
                                        <q-td>{{props.row.returnDate}}</q-td>
                                        <q-td>{{props.row.returnDueDate}}</q-td>
                                        <q-td>
                                            <template v-if="props.row.overDue">
                                                <q-btn dense round color="positive">O</q-btn>
                                            </template>
                                            <template v-else>
                                                <q-btn dense round color="negative">X</q-btn>
                                            </template>
                                        </q-td>
                                    </q-tr>
                                </template>
                            </q-table>
                        </template>
                        <q-card class="q-pa-md" v-else-if="type == 'accountSet'">
                            <q-stepper v-model="step" ref="stepper" alternative-labels color="primary" animated>
                                <q-step :name="1" title="비밀번호 입력" icon="edit" :done="step > 1">
                                    <p>현재 비밀번호를 입력하세요.</p>
                                    <q-input outlined v-model="accountInfo.password" dense placeholder="비밀번호"
                                             @keyup.enter="checkPassword" type="password"
                                             :error="form_error.password.length > 0" :error-message="form_error.password">
                                    </q-input>
                                </q-step>

                                <q-step :name="2" title="새로운 비밀번호 입력" icon="edit" :done="step > 2">

                                    <p>새로운 비밀번호를 입력하세요.</p>
                                    <q-input outlined v-model="accountInfo.new_password" dense placeholder="새로운 비밀번호"
                                             @keyup.enter="change_my_info" type="password"
                                             :error="form_error.new_password.length > 0" :error-message="form_error.new_password">
                                    </q-input>

                                    <q-input outlined v-model="accountInfo.new_password_confirm" dense placeholder="새로운 비밀번호 재입력"
                                             @keyup.enter="change_my_info" type="password"
                                             :error="form_error.new_password_confirm.length > 0" :error-message="form_error.new_password_confirm">
                                    </q-input>
                                </q-step>

                                <q-step :name="3" title="완료" icon="done">
                                    완료!
                                </q-step>

                                <template v-slot:navigation>
                                    <q-stepper-navigation>
                                        <q-btn @click="checkPassword" color="primary" v-if="step == 1" label="진행"></q-btn>
                                        <q-btn @click="change_my_info" color="primary" v-else-if="step == 2" label="진행"></q-btn>
                                        <q-btn @click="location_href('/login')" color="primary" v-else-if="step == 3" label="로그인 페이지로 이동"></q-btn>
                                        <q-btn v-if="step > 1 && step != 3" flat color="primary" @click="$refs.stepper.previous()" label="뒤로가기" class="q-ml-sm"></q-btn>
                                    </q-stepper-navigation>
                                </template>
                            </q-stepper>
                        </q-card>

                    </td>
                </tr>
            </table>
        </q-card-section>
    </q-card>
</div>
</body>
</html>

<script>
     const app = Vue.createApp({
        data: function() {
            return {
                accountInfo: {
                    password: '',
                    new_password: '',
                    new_password_confirm: '',
                },
                form_error: {
                    password: '',
                    new_password: '',
                    new_password_confirm: '',
                },

                standard_date: 'rentalDate',

                start_date: null,
                end_date: null,
                step: 1,

                user: {},
                type: 'recordList',

                menu_list: [
                    { type: 'recordList', title: '이용내역 조회', is_selected: true },
                    { type: 'accountSet', title: '개인정보변경', is_selected: false },
                ],

                record_list: [],
                record_columns: [
                    { name: 'recordId', label: '번호', field: 'recordId', align: 'left', sortable: true },
                    { name: 'name', label: '도서명', field: 'name', align: 'left', sortable: true },
                    { name: 'rentalDate', label: '대여일', field: 'rentalDate', align: 'left', sortable: true },
                    { name: 'returnDate', label: '반납일', field: 'returnDate', align: 'left', sortable: true },
                    { name: 'returnDueDate', label: '반납예정일', field: 'returnDueDate', align: 'left', sortable: true },
                    { name: 'overDue', label: '연체유무', field: 'overDue', align: 'left', sortable: true },
                ]
            }
        },
        methods: {
            location_href: function(url) {
                window.location.href = url;
            },
            changeType: function() {
                var vm = this;
                vm.$nextTick(()=> {
                    vm.load_filter_my_record_list();
                });
            },
            changeDate: function() {
                var vm = this;
                vm.$nextTick(()=> {
                    vm.load_filter_my_record_list();
                });
            },
            checkPassword: function() {
                var vm = this;
                axios.get("/api/user/check/password", {
                    params: {
                        userId: vm.$refs.top_menu.account.userId,
                        password: vm.accountInfo.password,
                        token: $p.getToken('jwt')
                    }
                }).then(function(res) {
                    var data = res.data;
                    if(data.success == 0 && data.is_logged == false) {
                        $p.location_href('/');
                    }
                    if(data.success) {
                        vm.$refs.stepper.next();
                    } else {
                        vm.accountInfo.password = "";
                        if(data.error) {
                            for(var k in data.error) {
                                vm.form_error[k] = data.error[k];
                            }
                        }
                        if(data.message) {
                            vm.$q.dialog({
                                title: '에러',
                                message: data.message
                            }).onOk(() => {

                            });
                        }
                    }
                });
            },
            change_my_info: function() {
                var vm = this;
                axios.get("/api/user/change/password", {
                    params: {
                        userId: vm.$refs.top_menu.account.userId,
                        new_password: vm.accountInfo.new_password,
                        new_password_confirm: vm.accountInfo.new_password_confirm,
                        token: $p.getToken('jwt')
                    }
                }).then(function(res) {
                    var data = res.data;
                    if(data.success == 0 && data.is_logged == false) {
                        $p.location_href('/');
                    }
                    if(data.success) {
                        vm.$refs.stepper.next();
                        $p.deleteToken('jwt');
                    } else {
                        vm.accountInfo.new_password = "";
                        vm.accountInfo.new_password_confirm = "";
                        if(data.error) {
                            for(var k in data.error) {
                                vm.form_error[k] = data.error[k];
                            }
                        }
                        if(data.message) {
                            vm.$q.dialog({
                                title: '에러',
                                message: data.message
                            }).onOk(() => {

                            });
                        }
                    }
                });
            },
            select_type: function(row) {
                var vm = this;
                for(var i=0; i<vm.menu_list.length; i++) {
                    vm.menu_list[i].is_selected = false;
                }
                row.is_selected = true;
                vm.type = row.type;
            },

            load_filter_my_record_list: function() {
                var vm = this;
                var accountId = vm.$refs.top_menu.account.accountId;
                axios.get('/api/filterMyRecord/' + accountId, {
                    params: {
                        startDate: vm.start_date,
                        endDate: vm.end_date,
                        type: vm.standard_date,
                    }
                }).then(function(res) {
                    var data = res.data;
                    if(data.success == 0 && data.is_logged == false) {
                        $p.location_href('/');
                    }
                    if(data.success) {
                        var row = data.recordList;
                        vm.record_list = row;
                    } else {
                        vm.record_list = [];
                        if(data.error) {
                            for(var k in data.error) {
                                vm.form_error[k] = data.error[k];
                            }
                        }
                        if(data.message) {
                            vm.$q.dialog({
                                title: '에러',
                                message: data.message
                            }).onOk(() => {

                            });
                        }
                    }
                });
            },
        },
        mounted: function() {
            var vm = this;
            let params = new URLSearchParams(document.location.search);
            let type = params.get("type");
            if(type) {
                if(type == 'accountSet') {
                    var list = vm.menu_list;
                    for(var i=0; i<list.length; i++) {
                        if(list[i].type == type) {
                            list[i].is_selected = true;
                            vm.type = type;
                        } else {
                            list[i].is_selected = false;
                        }
                    }
                }
            }
            var today = new Date();
            vm.start_date = $p.formatDate(new Date(today.getFullYear(), today.getMonth()-1, today.getDate()));
            vm.end_date = $p.formatDate(today);
        },
    });
</script>
<head th:include="shared/top_menu.html"></head>

<script>
    app.use(Quasar, {
        config: {
            loading: {}
        }
    });
    app.mount('#app');
</script>