<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>도서관리</title>
</head>

<body>
<head th:include="shared/libs.html"></head>
<script src="static/js/qrcodejs/qrcode.min.js"></script>
<div id="app">
    <top_menu ref="top_menu"></top_menu>
    <table style="width: 100%;">
        <tr>
            <td>
                <div style="width: 100%; display: flex;">
                    <div style="display: flex;" class="q-pa-md">
                        <q-input filled dense v-model="start_date" mask="date" :rules="['date']" style="width: 200px;">
                            <template v-slot:append>
                                <q-icon name="event" class="cursor-pointer">
                                    <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                                        <q-date v-model="start_date">
                                            <div class="row items-center justify-end">
                                                <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
                                            </div>
                                        </q-date>
                                    </q-popup-proxy>
                                </q-icon>
                            </template>
                        </q-input>
                        ~
                        <q-input filled dense v-model="end_date" mask="date" :rules="['date']" style="width: 200px;">
                            <template v-slot:append>
                                <q-icon name="event" class="cursor-pointer">
                                    <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
                                        <q-date v-model="end_date">
                                            <div class="row items-center justify-end">
                                                <q-btn v-close-popup label="Close" color="primary" flat></q-btn>
                                            </div>
                                        </q-date>
                                    </q-popup-proxy>
                                </q-icon>
                            </template>
                        </q-input>
                    </div>
                    <div class="q-pa-md">
                        <div class="q-gutter-sm">
                            <q-radio v-model="search_type" val="bookName" label="도서명"></q-radio>
                            <q-radio v-model="search_type" val="userId" label="사용자ID"></q-radio>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%;">
                <q-card class="q-px-md">
                    <q-card-section>
                        <div style="display: flex; width: 100%;">
                            <q-input outlined dense placeholder="Search" class="q-mr-sm" style="width: 100%;"></q-input>
                            <q-space></q-space>
                            <q-btn dense flat icon="search"></q-btn>
                        </div>
                    </q-card-section>
                    <q-separator></q-separator>
                    <q-card-section>
                        <q-table ref="book_list"
                                 class="my-sticky-header-table"
                                 style="height: 600px" :filter="filter"
                                 :rows="book_list" :columns="book_columns" virtual-scroll
                                 :rows-per-page-options="[0]" separator="vertical"
                                 no-data-label="데이터가 없습니다.">
                            <template v-slot:body="props">
                                <q-tr :props="props">
                                    <q-td>{{props.row.name}}</q-td>
                                    <q-td>{{props.row.category}}</q-td>
                                    <q-td>{{props.row.writer}}</q-td>
                                    <q-td>{{props.row.publisher}}</q-td>
                                    <q-td>{{props.row.location}}</q-td>
                                    <q-td>
                                        <template v-if="props.row.status">
                                            <q-badge color="positive">
                                                O
                                            </q-badge>
                                        </template>
                                        <template v-else>
                                            <q-badge color="negative">
                                                X
                                            </q-badge>
                                        </template>
                                    </q-td>

                                </q-tr>
                            </template>
                        </q-table>
                    </q-card-section>
                </q-card>
            </td>
        </tr>
    </table>
</div>
</body>
</html>

<style>
</style>

<script>
     const app = Vue.createApp({
        data: function() {
            return {
                start_date: '',
                end_date: '',
                search_type: 'name',

                book_list: [],
                book_columns: [
                    { name: 'index', label: '사용자명', field: 'index', align: 'left', sortable: true, headerStyle: 'width: 30px;'},
                    { name: 'name', label: '도서명', field: 'name', align: 'left', sortable: true },
                    { name: 'category', label: '대여일', field: 'category', align: 'left', sortable: true },
                    { name: 'writer', label: '반납일', field: 'writer', align: 'left', sortable: true },
                    { name: 'publisher', label: '반납예정일', field: 'publisher', align: 'left', sortable: true },
                    { name: 'status', label: '연체유무', field: 'status', align: 'left', sortable: true },
                ],
            }
        },
        methods: {
            load_book_list: function() {
                var vm = this;
                vm.$q.loading.show();
                axios.get('/api/book', {
                    params: {

                    }
                }).then(function(res) {
                    var data = res.data;
                    if(data.success == 1) {
                        var row = data.bookList[0];
                        vm.book_list.push(row);
                    } else {
                        vm.$q.notify({
                            type: 'negative',
                            message: data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    }
                    vm.$q.loading.hide();
                });
            },
        },
        mounted: function() {
            var vm = this;
            var today = new Date();
            vm.start_date = $p.formatDate(new Date(today.getFullYear(), today.getMonth()-1, today.getDate()));
            vm.end_date = $p.formatDate(today);
            vm.load_book_list();
        },
    });

</script>
<head th:include="shared/top_menu.html"></head>
<script>
    app.use(Quasar, {
        config: {
            loading: {}
        }
    });
    app.mount('#app');
</script>