<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
</head>

<body>
<head th:include="shared/libs.html"></head>
<script src="static/js/qrcodejs/qrcode.min.js"></script>
<div id="app">
    <top_menu ref="top_menu"></top_menu>
    <q-card>
        <q-card-section>
            <table style="width: 100%; margin-top: 74px;">
                <tr>
                    <td style="width: 250px; vertical-align: top;" >
                        <div>
                            <q-list bordered class="rounded-borders" style="width: 250px;">
                                <template v-for="row in menu_list">
                                    <template v-if="row.hasOwnProperty('setting_list')">
                                        <q-expansion-item :content-inset-level="0.5" label="제약조건 수정" default-opened>
                                            <q-list>
                                                <template v-for="item in row.setting_list">
                                                    <q-item icon="noise_control_off" clickable v-ripple
                                                            @click="click_setting(item)"
                                                            :active="item.is_selected">
                                                        <q-item-section>{{item.keyword2}}</q-item-section>
                                                    </q-item>
                                                </template>
                                            </q-list>
                                        </q-expansion-item>
                                        <q-separator></q-separator>
                                    </template>
                                    <template v-else>
                                        <q-item clickable v-ripple @click="click_menu(row)"
                                                :active="row.is_selected">
                                            <q-item-section>{{row.label}}</q-item-section>
                                        </q-item>
                                        <q-separator></q-separator>
                                    </template>
                                </template>
                            </q-list>

                        </div>
                    </td>
                    <td style="vertical-align: top; height: 820px;" class="q-pl-md">
                        <template v-if="type == 'setting'">
                            <div style="height: 820px;">
                                <p>{{form.keyword2}}</p>
                                <q-input outlined dense v-model="form.value"></q-input>
                                <br/>
                                <q-btn color="primary" label="저장"></q-btn>
                            </div>
                        </template>
                        <template v-else-if="type == 'overDue'">
                            연체기록
                        </template>
                        <template v-else-if="type == 'bookManage'">
                            <table style="width: 100%; overflow: scroll;">
                                <tr>
                                    <td style="width: 250px;">
                                        <q-card>
                                            <q-card-section>
                                                <q-btn icon="add" label="추가" @click="handleInsert"></q-btn>
                                            </q-card-section>
                                            <q-separator></q-separator>
                                            <q-card-section>
                                                <q-table ref="book_list"
                                                         class="my-sticky-header-table"
                                                         style="height: 600px; width: 100%;" :filter="filter"
                                                         :rows="book_list" :columns="book_columns" virtual-scroll
                                                         :rows-per-page-options="[0]" separator="vertical"
                                                         no-data-label="데이터가 없습니다.">
                                                    <template v-slot:top-right>
                                                        <q-input borderless dense debounce="300" v-model="filter" placeholder="Search">
                                                            <template v-slot:append>
                                                                <q-icon name="search" />
                                                            </template>
                                                        </q-input>
                                                    </template>
                                                    <template v-slot:body="props">
                                                        <q-tr :props="props">
                                                            <q-td auto-width>
                                                                <q-btn size="sm" round dense flat
                                                                       @click="props.row.expand = !props.row.expand; make_gr(props.row)"
                                                                       :icon="props.row.expand ? 'expand_less' : 'expand_more'" >

                                                                </q-btn>
                                                            </q-td>
                                                            <q-td>{{props.row.bookId}}</q-td>
                                                            <q-td>{{props.row.name}}</q-td>
                                                            <q-td>{{props.row.category}}</q-td>
                                                            <q-td>{{props.row.writer}}</q-td>
                                                            <q-td>{{props.row.publisher}}</q-td>
                                                            <q-td>
                                                                <q-btn color="positive" icon="edit" class="q-mr-sm" dense size="sm" @click="handleEdit"></q-btn>
                                                                <q-btn color="negative" icon="delete" dense size="sm" @click="handleDelete"></q-btn>
                                                            </q-td>
                                                        </q-tr>
                                                        <q-tr v-show="props.row.expand" :props="props">
                                                            <q-td colspan="100%" style="border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3;">
                                                                <div class="q-pa-md">
                                                                    <div :id="'qrcode_' + props.row.bookId" style="width: 318px; border: 3px solid black; padding: 5px;">

                                                                    </div>
                                                                </div>
                                                            </q-td>
                                                        </q-tr>

                                                    </template>
                                                </q-table>
                                            </q-card-section>
                                        </q-card>
                                    </td>

                                </tr>
<!--                                <tr>-->
<!--                                    <td style="position: relative;">-->
<!--                                        <div style="">-->
<!--                                            <div style="border:3px solid; padding:5px; width: 318px;">-->
<!--                                                <div id="qrcode"></div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </td>-->
<!--                                </tr>-->
                            </table>
                        </template>
                        <template v-else>
                            찾을 수 없습니다.
                        </template>
                    </td>
                </tr>
            </table>
        </q-card-section>
    </q-card>
</div>
</body>
</html>


<script>
     const app = Vue.createApp({
        data: function() {
            return {
                form: {
                    settingId: '',
                    keyword: '',
                    keyword2: '',
                    value: '',
                },
                type: 'setting',

                select_menu: 'MaxRentalCount',
                setting_list: [],

                menu_list: [
                    { label: '제약조건 수정', field: 'settings', setting_list: [] },
                    { label: '연체기록 관리', field: 'overDue', is_selected: false },
                    { label: '도서 관리', field: 'bookManage', is_selected: false },
                ],

                book_list: [],
                book_columns: [
                    { name: '', label: '', align: 'center', headerStyle: 'width: 30px;'},
                    { name: 'bookId', label: '번호', field: 'bookId', align: 'left', sortable: true, headerStyle: 'width: 30px;'},
                    { name: 'name', label: '도서명', field: 'name', align: 'left', sortable: true },
                    { name: 'category', label: '카테고리', field: 'category', align: 'left', sortable: true },
                    { name: 'writer', label: '저자', field: 'writer', align: 'left', sortable: true },
                    { name: 'publisher', label: '출판사', field: 'publisher', align: 'left', sortable: true },
                    { name: '', label: ' ', align: 'left', headerStyle: 'width: 60px; text-align: center;'},
                    { name: '', label: ' ', align: 'left', headerStyle: 'width: 60px; text-align: center;'},
                ],

            }
        },
        methods: {
            make_gr: function (row) {
                var vm = this;
                let json_data = {
                    bookId: row.bookId,
                };
                document.getElementById("qrcode_" + row.bookId).innerHTML = "";
                var qrcode = new QRCode(document.getElementById("qrcode_" + row.bookId), {
                     text: JSON.stringify(json_data),
                     width: 300,  //가로
                     height: 300, //세로
                     colorDark: "#000000", //qr에서 어두운 색 (보통 검은색)
                     colorLight : "#ffffff", //qr에서 밝은 색 (보통 하얀색) colorDark 보다 옅어야한다.
                     correctLevel : QRCode.CorrectLevel.H //qr코드 오류복원능력임 (L->M->Q->H)
                });
            },

            click_setting: function(item) {
                var vm = this;
                var list = vm.menu_list[0].setting_list;
                for(var i=0; i<list.length; i++) {
                    list[i].is_selected = false;
                }
                item.is_selected = true;
                vm.type = "setting";
                vm.load_setting(item.settingId);
            },
            click_menu: function(row) {
                var vm = this;
                vm.type = row.field;
                var list = vm.menu_list[0].setting_list;
                for(var i=0; i<list.length; i++) {
                    list[i].is_selected = false;
                }
                for(var i=0; i<vm.menu_list.length; i++) {
                    vm.menu_list[i].is_selected = false;
                }
                row.is_selected = true;
            },
            load_setting_list: function() {
                var vm = this;
                axios.get("/api/setting", {
                    params: {
                    }
                }).then(function(res) {
                    var row = res.data;
                    for(var i=0; i<row.length; i++) {
                        vm.setting_list.push({
                            settingId: row[i].settingId,
                            keyword: row[i].keyword,
                            keyword2: row[i].keyword2,
                            value: row[i].value,
                            is_selected: false,
                        });
                    }
                    vm.setting_list[0].is_selected = true;
                    vm.menu_list[0].setting_list = vm.setting_list;
                    vm.load_setting(vm.setting_list[0].settingId);
                });
            },
            load_setting: function(settingId) {
                var vm = this;
                axios.get("/api/setting/" + settingId, {
                }).then(function(res) {
                    var row = res.data;
                    for(var k in vm.form) {
                        vm.form[k] = row[k];
                    }
                });
            },
            load_book_list: function() {
                var vm = this;
                vm.$q.loading.show();
                axios.get('/api/book', {
                    params: {

                    }
                }).then(function(res) {
                    var data = res.data;
                    if(data.success == 1) {
                        var row = data.bookList;
                        for(var i=0; i<row.length; i++) {
                            row[i]["expand"] = false;
                        }
                        vm.book_list = row;
                    } else {
                        vm.$q.notify({
                            type: 'negative',
                            message: data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    }
                    vm.$q.loading.hide();
                });
            },
            handleSave: function() {
                var vm = this;
                vm.$q.loading.show();
                var form_data = new FormData();
                form_data.append("keyword", vm.form.keyword);
                form_data.append("value", vm.form.value);

                axios.post("/api/setting/" + vm.form.settingId, form_data).then(function(res) {
                    if(res.data.success == 1) {
                        vm.$q.notify({
                            type: 'positive',
                            message: res.data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    } else {
                        vm.$q.notify({
                            type: 'negative',
                            message: res.data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    }
                    vm.$q.loading.hide();
                });
            },
        },
        mounted: function() {
            var vm = this;
            vm.load_setting_list();
            vm.load_book_list();
        },
    })


</script>
<head th:include="shared/top_menu.html"></head>
<script>
    app.use(Quasar, {
        config: {
            loading: {}
        }
    });
    app.mount('#app');
</script>