<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
</head>

<body>
<head th:include="shared/libs.html"></head>

<div id="app">
    <top_menu ref="top_menu"></top_menu>
    <div style="width: 100%; display: flex;">
        <div style="width: 250px;">
            <q-list bordered separator>
                <template v-for="row in menu_list">
                    <q-item clickable v-ripple @click="click_menu(row)"
                            style="height: 56px; background-color: white; color: black;"
                            :active="row.active" active-class="active">
                        <q-item-section>
                            <p style="font-weight: bold;">{{row.title}}</p>
                        </q-item-section>
                    </q-item>
                </template>
            </q-list>
        </div>
        <div style="padding-left: 6px;">
            <span>{{form.keyword}}</span>
            <q-input outlined dense v-model="form.value"></q-input>
            <br/>
            <q-btn @click="handleSave">저장</q-btn>
        </div>
    </div>
</div>
</body>
</html>

<style>
    .active {
        background-color: black !important;
        color: white !important;
    }
</style>

<script>
     const app = Vue.createApp({
        data: function() {
            return {
                form: {
                    settingId: '',
                    keyword: '',
                    value: '',
                },
                select_menu: 'MaxRenderDateValue',
                menu_list: [

                ],
            }
        },
        methods: {
            location_href: function(url) {
                window.location.href = '/' + url;
            },
            click_menu: function(row) {
                var vm = this;
                vm.select_menu = row.title;
                for(var i=0; i<vm.menu_list.length; i++) {
                    vm.menu_list[i].active = false;
                    if(vm.menu_list[i].value == row.value) {
                        vm.menu_list[i].active = true;
                    }
                }
                vm.load_setting(row.settingId);
            },
            load_setting_list: function() {
                var vm = this;
                axios.get("/api/setting", {
                    params: {
                    }
                }).then(function(res) {
                    var row = res.data;
                    for(var i=0; i<row.length; i++) {
                        vm.menu_list.push({
                            settingId: row[i].settingId,
                            title: row[i].keyword,
                            value: row[i].value,
                            active: false,
                        });
                    }
                    vm.menu_list[0].active = true;
                    vm.load_setting(vm.menu_list[0].settingId);
                });
            },
            load_setting: function(settingId) {
                var vm = this;
                axios.get("/api/setting/" + settingId, {
                }).then(function(res) {
                    var row = res.data;
                    for(var k in vm.form) {
                        vm.form[k] = row[k];
                    }
                });
            },
            handleSave: function() {
                var vm = this;
                var form_data = new FormData();
                form_data.append("keyword", vm.form.keyword);
                form_data.append("value", vm.form.value);

                axios.post("/api/setting/" + vm.form.settingId, form_data).then(function(res) {
                    if(res.data.success == 1) {
                        vm.$q.notify({
                            type: 'positive',
                            message: res.data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    } else {
                        vm.$q.notify({
                            type: 'negative',
                            message: res.data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    }
                });
            },
        },
        mounted: function() {
            var vm = this;
            if(!vm.$refs.top_menu.account.isAdmin) {
                vm.location_href('login');
            }
            vm.load_setting_list();
        },
    })


</script>
<head th:include="shared/top_menu.html"></head>
<script>
    app.use(Quasar);
    app.mount('#app');


</script>