<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
</head>

<body>
<head th:include="shared/libs.html"></head>

<div id="app">
    <top_menu ref="top_menu"></top_menu>
    <table style="width: 100%;">
        <tr>
            <td style="width: 200px; vertical-align: top;" >
                <div>
                    <q-list bordered separator>
                        <template v-for="row in menu_list">
                            <q-item clickable v-ripple @click="click_menu(row)"
                                    :active="row.is_selected">
                                <q-item-section>
                                    <p style="font-weight: bold;">{{row.keyword2}}</p>
                                </q-item-section>
                            </q-item>
                        </template>
                    </q-list>
                </div>
            </td>
            <td style="vertical-align: top;">
                <q-card>
                    <q-card-section>
                        <div>
                            <span>{{form.keyword2}}</span>
                            <q-input outlined dense v-model="form.value"></q-input>
                            <br/>
                            <q-btn @click="handleSave">저장</q-btn>
                        </div>
                    </q-card-section>
                </q-card>
            </td>
        </tr>
    </table>
</div>
</body>
</html>


<script>
     const app = Vue.createApp({
        data: function() {
            return {
                form: {
                    settingId: '',
                    keyword: '',
                    keyword2: '',
                    value: '',
                },
                select_menu: 'MaxRenderDateValue',
                menu_list: [

                ],
            }
        },
        methods: {
            location_href: function(url) {
                window.location.href = '/' + url;
            },
            click_menu: function(row) {
                var vm = this;
                vm.select_menu = row.title;
                for(var i=0; i<vm.menu_list.length; i++) {
                    vm.menu_list[i].is_selected = false;
                }
                row.is_selected = true;
                vm.load_setting(row.settingId);
            },
            load_setting_list: function() {
                var vm = this;
                axios.get("/api/setting", {
                    params: {
                    }
                }).then(function(res) {
                    var row = res.data;
                    for(var i=0; i<row.length; i++) {
                        vm.menu_list.push({
                            settingId: row[i].settingId,
                            keyword: row[i].keyword,
                            keyword2: row[i].keyword2,
                            value: row[i].value,
                            is_selected: false,
                        });
                    }
                    vm.menu_list[0].is_selected = true;
                    vm.load_setting(vm.menu_list[0].settingId);
                });
            },
            load_setting: function(settingId) {
                var vm = this;
                axios.get("/api/setting/" + settingId, {
                }).then(function(res) {
                    var row = res.data;
                    for(var k in vm.form) {
                        vm.form[k] = row[k];
                    }
                });
            },
            handleSave: function() {
                var vm = this;
                vm.$q.loading.show();
                var form_data = new FormData();
                form_data.append("keyword", vm.form.keyword);
                form_data.append("value", vm.form.value);

                axios.post("/api/setting/" + vm.form.settingId, form_data).then(function(res) {
                    if(res.data.success == 1) {
                        vm.$q.notify({
                            type: 'positive',
                            message: res.data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    } else {
                        vm.$q.notify({
                            type: 'negative',
                            message: res.data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    }
                    vm.$q.loading.hide();
                });
            },
        },
        mounted: function() {
            var vm = this;
            vm.load_setting_list();
        },
    })


</script>
<head th:include="shared/top_menu.html"></head>
<script>
    app.use(Quasar, {
        config: {
            loading: {}
        }
    });
    app.mount('#app');
</script>