<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
</head>

<body>
<head th:include="shared/libs.html"></head>

<div id="app">
    <top_menu ref="top_menu"></top_menu>
    <q-card>
        <q-card-section>
            <table style="width: 100%; margin-top: 74px;">
                <tr>
                    <td style="width: 250px; vertical-align: top;" >
                        <div>
                            <q-list bordered class="rounded-borders">

                                <q-expansion-item :content-inset-level="0.5" label="제약조건 수정" default-opened>
                                    <q-list>
                                        <template v-for="row in setting_list">
                                            <q-item icon="noise_control_off" clickable v-ripple @click="click_setting(row)" :active="row.is_selected">
                                                <q-item-section>{{row.keyword2}}</q-item-section>
                                            </q-item>
                                        </template>
                                    </q-list>
                                </q-expansion-item>
                                <q-separator></q-separator>

                                <q-item clickable v-ripple>
                                    <q-item-section>
                                        연체기록 관리
                                    </q-item-section>
                                </q-item>
                                <q-separator></q-separator>
                                <q-item clickable v-ripple>
                                    <q-item-section>
                                        도서 관리
                                    </q-item-section>
                                </q-item>

                            </q-list>

                        </div>
                    </td>
                    <td style="vertical-align: top;" class="q-pl-md">
                        <div v-if="type == 'setting'">
                            <p>{{form.keyword2}}</p>
                            <q-input outlined dense v-model="form.value"></q-input>
                            <q-btn color="primary" label="저장"></q-btn>
                            <br/>
                        </div>
                    </td>
                </tr>
            </table>
        </q-card-section>
    </q-card>

</div>
</body>
</html>


<script>
     const app = Vue.createApp({
        data: function() {
            return {
                form: {
                    settingId: '',
                    keyword: '',
                    keyword2: '',
                    value: '',
                },
                type: 'setting',

                select_menu: 'MaxRentalCount',
                setting_list: [],
            }
        },
        methods: {
            location_href: function(url) {
                window.location.href = '/' + url;
            },
            click_setting: function(row, type) {
                var vm = this;
                for(var i=0; i<vm.setting_list.length; i++) {
                    vm.setting_list[i].is_selected = false;
                }
                row.is_selected = true;
                vm.type = 'setting';
                vm.load_setting(row.settingId);
            },
            click_menu: function(type, row) {
                var vm = this;
                vm.type = type;
                vm.select_menu = row.title;
                for(var i=0; i<vm.menu_list.length; i++) {
                    vm.menu_list[i].is_selected = false;
                }
                row.is_selected = true;
                vm.load_setting(row.settingId);
            },
            load_setting_list: function() {
                var vm = this;
                axios.get("/api/setting", {
                    params: {
                    }
                }).then(function(res) {
                    var row = res.data;
                    for(var i=0; i<row.length; i++) {
                        vm.setting_list.push({
                            settingId: row[i].settingId,
                            keyword: row[i].keyword,
                            keyword2: row[i].keyword2,
                            value: row[i].value,
                            is_selected: false,
                        });
                    }
                    vm.setting_list[0].is_selected = true;
                    vm.load_setting(vm.setting_list[0].settingId);
                });
            },
            load_setting: function(settingId) {
                var vm = this;
                axios.get("/api/setting/" + settingId, {
                }).then(function(res) {
                    var row = res.data;
                    for(var k in vm.form) {
                        vm.form[k] = row[k];
                    }
                });
            },
            handleSave: function() {
                var vm = this;
                vm.$q.loading.show();
                var form_data = new FormData();
                form_data.append("keyword", vm.form.keyword);
                form_data.append("value", vm.form.value);

                axios.post("/api/setting/" + vm.form.settingId, form_data).then(function(res) {
                    if(res.data.success == 1) {
                        vm.$q.notify({
                            type: 'positive',
                            message: res.data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    } else {
                        vm.$q.notify({
                            type: 'negative',
                            message: res.data.message,
                            position: 'bottom',
                            timeout: 1000,
                        });
                    }
                    vm.$q.loading.hide();
                });
            },
        },
        mounted: function() {
            var vm = this;
            vm.load_setting_list();
        },
    })


</script>
<head th:include="shared/top_menu.html"></head>
<script>
    app.use(Quasar, {
        config: {
            loading: {}
        }
    });
    app.mount('#app');
</script>