<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>홈화면</title>
</head>

<body>
    <head th:include="shared/libs.html"></head>

    <div id="app" style="position: relative">
        <top_menu ref="top_menu"></top_menu>
        <div style="margin-top: 74px; height: 800px; position: absolute; left: 50%; transform: translate(-50%);" class="q-pa-md">
            <table class="index_table">
                <tr>
                    <td @click="location_href('/rental')" class="animate__animated">
                        <div class="bg-white shadow-2">
                            <img style="width: 200px;" src="/static/images/rental.png" />
                            <h5 style="margin: 0;">대여</h5>
                        </div>
                    </td>
                    <td @click="location_href('/return')" class="animate__animated">
                        <div  class="bg-white shadow-2">
                            <img style="width: 200px;" src="/static/images/return.png" />
                            <h5 style="margin: 0;">반납</h5>
                        </div>
                    </td>
                    <td @click="location_href('/myPage')" class="animate__animated">
                        <div class="bg-white shadow-2">
                            <img style="width: 200px;" src="/static/images/myPage_v2.png" />
                            <h5 style="margin: 0;">마이페이지</h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td @click="location_href('/search')" class="animate__animated">
                        <div class="bg-white shadow-2">
                            <img style="width: 200px;" src="/static/images/search.png" />
                            <h5 style="margin: 0;">도서 검색</h5>
                        </div>
                    </td>
                    <td v-if="account.isAdmin" @click="location_href('/setting')" class="animate__animated">
                        <div class="bg-white shadow-2">
                            <img style="width: 200px;" src="/static/images/administration.png" />
                            <h5 style="margin: 0;">관리자메뉴</h5>
                        </div>
                    </td>
                    <td v-else></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <q_footer style="position: absolute; bottom: 0; width: 100%;"></q_footer>
    </div>
</body>
</html>
<style>
    .index_table {
        width: 600px;
        text-align: center;
    }
    .index_table tr td {
        cursor: pointer;
        width: 150px;
        height: 150px;
        padding: 40px;
    }
    .index_table tr td:hover {
        -webkit-animation-name: pulse;
        animation-name: pulse;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }
</style>

<script>
     const app = Vue.createApp({
        data: function() {
            return {
                account: '',
            }
        },
        methods: {
            location_href: function(url) {
                $p.location_href(url);
            }
        },
        mounted: function() {
            var vm = this;
        },
    });
</script>
<head th:include="shared/top_menu.html"></head>
<head th:include="shared/footer.html"></head>
<script>
     app.use(Quasar, {
        config: {
            loading: {}
        }
    });
    app.mount('#app');
</script>