<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>로그인</title>
    </head>

    <body>
    <head th:include="shared/libs.html"></head>
    <div id="app">
        <div style="width: 300px; height: 600px; position:absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
            <q-card>
                <q-card-section>
                    <img src="https://cdn.quasar.dev/img/mountains.jpg" style="width: 100%;">
                </q-card-section>

                <q-separator class="q-my-md"></q-separator>

                <q-card-section>
                    <q-input outlined v-model="form.userId" dense placeholder="아이디" class="q-mb-sm" @keyup.enter="handleLogin"
                            :error="form_error.userId.length > 0" :error-message="form_error.userId">
                    </q-input>
                    <q-input outlined v-model="form.password" dense placeholder="비밀번호" class="q-mb-sm" @keyup.enter="handleLogin"
                             :error="form_error.password.length > 0" :error-message="form_error.password" type="password">
                    </q-input>
<!--                    <q-checkbox v-model="isRemember" label="자동 로그인"></q-checkbox>-->
                    <q-btn label="로그인" color="primary" style="width: 100%;" @click="handleLogin"></q-btn>
                </q-card-section>
                <q-card-section>
                    <a href="/signup">회원가입</a>
                </q-card-section>
            </q-card>
        </div>
    </div>
    </body>
</html>

<script>
    const app = Vue.createApp({
        data: function() {
            return {
                form: {
                    userId: '',
                    password: '',
                },
                isRemember: true,

                form_error: {
                    userId: '',
                    password: '',
                },
            }
        },
        methods: {
            handleLogin: function() {
                var vm = this;
                vm.$q.loading.show();
                axios.get('/api/user/login', {
                    params: {
                        userId: vm.form.userId,
                        password: vm.form.password,
                        isRemember: vm.isRemember,
                    }
                }).then(function(res) {
                    var data = res.data;
                    if(data.success) {
                        if(data.token) {
                            $p.setToken("jwt", data.token, 1);
                        }
                        $p.location_href('/');
                    } else {
                        if(data.error) {
                            for(var k in data.error) {
                                vm.form_error[k] = data.error[k];
                            }
                        }
                        if(data.message) {
                            vm.$q.dialog({
                                title: '에러',
                                message: data.message
                            }).onOk(() => {

                            });
                        }
                    }
                    vm.$q.loading.hide();
                });
            },
        },
        mounted: function() {
            var vm = this;
            var token = $p.getToken("jwt");
            if(token) {
                 axios.get('/api/user/verityJWT', {
                    params: {
                        token: token,
                    }
                }).then(function(res) {
                    var data = res.data;
                    vm.$q.loading.show();
                    console.log("data:", data);
                    if(data.success) {
                        $p.location_href('/');
                    } else {
                        vm.$q.dialog({
                            title: "에러",
                            message: "로그인 토큰이 만료되었습니다. 다시 로그인해주세요"
                        }).onOk(() => {

                        });
                    }
                    vm.$q.loading.hide();
                });
            }
        },
    });
    app.use(Quasar, {
        config: {
            loading: {}
        }
    });
    app.mount('#app');
</script>