<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>회원가입</title>
    </head>

    <body>
    <head th:include="shared/libs.html"></head>
    <div id="app">
        <div style="width: 300px; height: 600px; position:absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
            <q-card>
                <q-card-section>
                    <img src="https://cdn.quasar.dev/img/mountains.jpg" style="width: 100%;">
                </q-card-section>

                <q-separator class="q-my-md"></q-separator>

                <q-card-section>
                    <q-input outlined v-model="form.userId" dense placeholder="아이디" class="q-mb-sm" @keyup.enter="handleSignUp"
                            :error="form_error.userId.length > 0" :error-message="form_error.userId">
                    </q-input>
                    <q-input outlined v-model="form.password" dense placeholder="비밀번호" class="q-mb-sm" @keyup.enter="handleSignUp"
                             :error="form_error.password.length > 0" :error-message="form_error.password">
                    </q-input>
                    <q-input outlined v-model="form.phoneNumber" dense placeholder="휴대폰번호" class="q-mb-sm" @keyup.enter="handleSignUp"
                             :error="form_error.phoneNumber.length > 0" :error-message="form_error.phoneNumber">
                    </q-input>
<!--                    <q-checkbox v-model="isRemember" label="자동 로그인"></q-checkbox>-->
                    <q-btn label="회원가입" color="primary" style="width: 100%;" @click="handleSignUp"></q-btn>
                </q-card-section>
            </q-card>
        </div>
    </div>
    </body>
</html>

<script>
    const app = Vue.createApp({
        data: function() {
            return {
                form: {
                    userId: '',
                    password: '',
                    phoneNumber: '',
                },
                isRemember: true,

                form_error: {
                    userId: '',
                    password: '',
                    phoneNumber: '',
                },
            }
        },
        methods: {
            handleSignUp: function() {
                var vm = this;
                $p.clearError(vm.form_error);
                axios.get('/api/user/signup', {
                    params: {
                        userId: vm.form.userId,
                        password: vm.form.password,
                        phoneNumber: vm.form.phoneNumber,
                    }
                }).then(function(res) {
                    var data = res.data;
                    vm.$q.loading.show();
                    if(data.success) {
                        console.log(data);
                        vm.$q.dialog({
                            title: '확인',
                            message: data.message
                        }).onOk(() => {
                            setTimeout(() => {
                                $p.location_href('/login');
                            },1000);
                        }).onCancel(() => {
                            $p.location_href('/login');
                        });
                    } else {
                        if(data.error) {
                            for(var k in data.error) {
                                vm.form_error[k] = data.error[k];
                            }
                        }
                        if(data.message) {
                            vm.$q.dialog({
                                title: '에러',
                                message: data.message
                            }).onOk(() => {

                            });
                        }
                    }
                    vm.$q.loading.hide();
                });
            },
        },
        mounted: function() {
            var vm = this;
        },
    });
    app.use(Quasar, {
        config: {
            loading: {}
        }
    });
    app.mount('#app');
</script>