<script type="text/x-template" id="q_footer">
    <div>
        <q-bar class="bg-white text-black" style="border-top: 1px solid #e3e3e3;">
            <div style="width: 100%;" class="text-center">
                Copyright © primero-pjh. All rights reserved.
            </div>
        </q-bar>
    </div>
</script>


<script>
    app.component("q_footer", {
        template: "#q_footer",
        data() {
            return {

            }
        },
        methods: {

        },
        mounted: function() {
            var vm = this;
        }
    });
</script>
