<script type="text/x-template" id="top_menu">
    <div>
        <q-bar style="height: 74px; position: fixed; top: 0; width: 100%; z-index: 1000;"
               class="bg-grey-9 text-white">
            <div style="width: 200px; display: inline-flex;">
                <div style="width: 100%; cursor:pointer;" class="text-weight-bold text-h4 text-center kf" @click="location_href('/')">
                    DGP
                </div>
            </div>
            <q-space></q-space>
            <div style="width: 100%; text-align: right;">
                <q-tabs v-model="tab" dense inline-label class="text-white kf" style="height: 74px;">
                    <template v-for="row in menu_list">
                        <template v-if="row.is_admin == true">
                            <template v-if="account.isAdmin">
                                <q-tab :name="row.url" :label="row.label" flat size="sm" style="height: 74px;" @click="click_tab(row)"></q-tab>
                            </template>
                        </template>
                        <template v-else>
                            <q-tab :name="row.url" :label="row.label" flat size="sm" style="height: 74px;" @click="click_tab(row)"></q-tab>
                        </template>
                    </template>
                </q-tabs>
            </div>

            <div style="width: 200px;">
                <q-chip color="dark" text-color="white">
                    <q-avatar>
                        <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                    </q-avatar>
                    {{account.userId}}
                    <q-menu>
                        <q-list style="min-width: 100px" class="text-center kf" >
                            <q-item clickable v-close-popup dense style="height: 45px;">
                                <q-item-section @click="location_href('/myPage?type=accountSet')">개인정보변경</q-item-section>
                            </q-item>
                            <q-separator></q-separator>
                            <q-item clickable v-close-popup dense style="height: 45px;">
                                <q-item-section @click="handleLogout">로그아웃</q-item-section>
                            </q-item>
                        </q-list>
                    </q-menu>
                </q-chip>
<!--                <q-btn :label="account.userId" icon="person" class="text-white" label="account.userId" flat>-->

<!--                </q-btn>-->
            </div>
        </q-bar>
    </div>
</script>


<script>
    app.component("top_menu", {
        template: "#top_menu",
        data() {
            return {
                tab: '/setting',

                account: {
                    accountId: 0,
                    userId: '',
                    phoneNumber: '',
                    lastLoginDate: '',
                    status: 0,
                    isAdmin: 0,
                },

                menu_list: [
                    { label: '대여', icon: '', url: '/rental', is_admin: false },
                    { label: '반납', icon: '', url: '/return', is_admin: false },
                    { label: '마이페이지', icon: '', url: '/myPage', is_admin: false },
                    { label: '도서검색', icon: '', url: '/search', is_admin: false },
                    { label: '관리자메뉴', icon: '', url: '/setting', is_admin: true },
                    //{ label: '도서관리', icon: '', url: '/bookManage', is_admin: true },
                ],
            }
        },
        methods: {
            click_tab: function(row) {
                var vm = this;
                vm.tab = row.url;
                $p.location_href(row.url);
            },
            location_href: function(url) {
                $p.location_href(url);
            },
            handleLogout: function() {
                var vm = this;
                $p.deleteToken("jwt");
                $p.location_href('/login');
            },

            getUser: function() {
                var vm = this;
                vm.$q.loading.show();
                axios.get('/api/user/own/info', {
                    params: {

                    }
                }).then(function(res) {
                    var data = res.data;
                    if(data.success == 0 && data.hasOwnProperty('isLogged')) {
                        $p.deleteToken("jwt");
                        $p.location_href('/login');
                    }
                    if(data.success) {
                        vm.account = data.user;
                        if(vm.$root._.data.hasOwnProperty('account')) {
                            vm.$root._.data.account = vm.account;
                        }
                        if(typeof vm.$root.load_filter_record_list === 'function') {
                            vm.$root.load_filter_record_list();
                        }


                        vm.$q.loading.hide();
                    }
                });
            }
        },
        mounted: function() {
            var vm = this;
            vm.tab = window.location.pathname;
            vm.getUser();

        },
        created: function() {
            var vm = this;
        },
    });
</script>
