<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bap.dao.AccountMapper">
    <select id="account_list" resultType="com.example.bap.dto.AccountDto">
        select * from accounts
    </select>
    <select id="check_user" resultType="com.example.bap.dto.AccountDto" parameterType="String">
        select * from accounts where userId=#{id}
    </select>
    <select id="get_user_userId" resultType="com.example.bap.dto.AccountDto" parameterType="string">
        select accountId, isAdmin, isReceiveMessage, telegramId, phoneNumber, userId from accounts where userId=#{userId}
    </select>
    <select id="get_user" resultType="com.example.bap.dto.AccountDto" parameterType="String">
        select * from accounts where userId=#{id} and password=#{pw}
    </select>
    <delete id="bookDelete" parameterType="Int">
        delete from books where bookId=#{id}
    </delete>
    <update id="bookUpdate">
        update books set name="박재현", status=0 where bookId=7
    </update>
    <insert id="sign_up" parameterType="String">
        insert into accounts (userId, password, phoneNumber, status, isAdmin) values (#{userId}, #{password}, #{phoneNumber}, 1, 0)
    </insert>
</mapper>