<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bap.dao.BookMapper">
    <select id="getSpBook" resultType="com.example.bap.dto.BookDto" parameterType="int">
        select * from books where bookId=#{bookId}
    </select>
    <select id="BookReadAll" resultType="com.example.bap.dto.BookDto">
        select * from books
    </select>
    <update id="UpdateBook" parameterType="com.example.bap.dto.BookDto">
        update books set status=#{status} where bookId=#{bookId}
    </update>

    <select id="BookSearch" resultType="com.example.bap.dto.BookDto" parameterType="String">
        select *
        from books
        where
        <if test='type == "name"'>
            <![CDATA[
            name like CONCAT('%', #{value}, '%')
        ]]>
        </if>
        <if test='type == "writer"'>
            <![CDATA[
            writer like CONCAT('%', #{value}, '%')
        ]]>
        </if>
        <if test='type == "category"'>
            <![CDATA[
            category like CONCAT('%', #{value}, '%')
        ]]>
        </if>
        <if test='type == "publisher"'>
            <![CDATA[
            publisher like CONCAT('%', #{value}, '%')
        ]]>
        </if>
    </select>
</mapper>