<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.bap.dao.RecordMapper">
    <insert id="AddRentalRecord" parameterType="com.example.bap.dto.RecordDto">
        insert into records (bookId, accountId, rentalDate, returnDueDate, overDue)
        value(#{bookId},#{accountId},#{rentalDate},#{returnDueDate}, #{overDue})
    </insert>
    <select id="MyRentalList" resultType="com.example.bap.dto.RecordDto" parameterType="int">
        select * from records where accountId=#{accountId} and overDue=0 and (returnDate is null or returnDate = '')
    </select>
    <select id="MyRentalDTO" resultType="com.example.bap.dto.RecordDto" parameterType="int">
        select * from records where accountId=#{accountId} and bookId=#{bookId} and (returnDate is null or returnDate = '')
    </select>
    <select id="getRecentRecord" resultType="com.example.bap.dto.RecordDto" parameterType="int">
        select * from records where accountId=#{accountId} and bookId=#{bookId}
    </select>

    <select id="MyRecordList" resultType="map" parameterType="int">
        select *
        from records, books
        where accountId=#{accountId} and records.bookId = books.bookId
    </select>
    <select id="MyRecordWithBookIdCount" resultType="int" parameterType="int">
        select count(*) from records where accountId=#{accountId} and bookId=#{bookId} and
                                            (returnDate is null or returnDate = '')
    </select>
    <select id="MyRecordWithBookId" resultType="com.example.bap.dto.RecordDto" parameterType="int">
        select * from records where accountId=#{accountId} and bookId=#{bookId} and
                                            (returnDate is null or returnDate = '')
    </select>

    <select id="MyOverDueList" resultType="com.example.bap.dto.RecordDto" parameterType="int">
        select * from records where accountId=#{accountId} and overDue=1
    </select>
    <select id="MyFilterRecordList" resultType="map" parameterType="map">
        select *
        from records, books
        where accountId=#{accountId} and records.bookId = books.bookId and
        <if test='type == "rentalDate"'>
            <![CDATA[
            rentalDate >=#{startDate} and
            rentalDate <=#{endDate}
        ]]>
        </if>
        <if test='type == "returnDate"'>
            <![CDATA[
            returnDate >=#{startDate} and
            returnDate <=#{endDate}
        ]]>
        </if>
    </select>

    <update id="Return" parameterType="com.example.bap.dto.RecordDto">
        update records set overDue=#{overDue}, returnDate=#{returnDate} where recordId=#{recordId}
    </update>
</mapper>